extends layout
include _mixins

block content
  section.h-100.align-items-center.d-flex
    .container.py-5.h-100 
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col.col-xl-10 
          .card
            .card-header.text-center
              h1 My simple ToDo List App
            .card-body.p-5 
              // Add task form
              form(action="#").d-flex.justify-content-center.align-items-center.mb-4
                .form-outline.flex-fill
                  input.form-control(type='text' placeholder="New task...")
                button.btn.btn-info.ms-2(type='submit') Add
              
              ul.list-group.todo-list
                +todo-item('test')
