header
  // Navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand Что-то с чем-то и ни о чем
        button.navbar-toggler(
          type='button' 
          data-toggle='collapse' 
          data-target='#navbarElements')
          span.navbar-toggler-icon

        #navbarElements.collapse.navbar-collapse
            ul.nav.navbar-nav.me-auto.mb-2.mb-lg-0
              li.nav-item
                a.nav-link(href='#') Login
              li.nav-item
                a.nav-link(href='#') ToDo
              li.nav-item
                a.nav-link(href='#') Validation

